html
{
    background-color: black;
}
body {
    background-color: #000!important;

}

ul{
    padding-left: 0px!important;
    margin-top: 10px!important;
}
.btn-simple.btn {

    color: gray;
    background-color: #d0fac6;

}

.title{
    margin-bottom: 10px;
    color: white;
    transition: 1200ms;
}
.title:hover{
    color: #ea870c;
    transition: 1200ms;
    text-shadow: 5px 5px 20px rgba(224, 133, 21, 0.6);
}
.container {
    background-color: black;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;


}
form {
    width: 382px;
    height: 100px;
    background: #ea870c;
    border: 3px solid #bd4508;
    border-radius: 10px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
input{
    color: white;
}
#task {
    width: 70%;
background-color: black;
    color: white;
    text:white;
    transition: 1200ms;
}
#task::placeholder{
    color: white;
}
#task:hover{
    color: #2FCC9A;
    transition: 1200ms;
}
#task:focus{
    transition: 300ms;
    border: 3px solid red;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.list {
    border: 3px solid #bd4508;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    border-radius: 15%;
    color: white;
    padding: 4px;
    width:70%;
    background-color: #ef8512;
    list-style: none;
    min-width: 312px;

}
.list:first-child{
    margin-top: 10px;
}